@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html,
body {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  @apply text-primary-900 bg-primary-50;
  @apply transition-colors duration-200 ease-in-out;
}