@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

html {
  /* background-color: #fff; */
  /* background-color: #F7FFF7; */
  /* background-color: #EEF5DB; */
  /* background-color: #DEE8D5; */
  /* background-color: #fffdd0; */
  /* background-color: #E9FAE3; */
  background-color: #EAF6FF;
  z-index: -2;
  padding: 50px 100px 50px 100px;
}

body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #292F36;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  height: auto;
  width: max-content;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: max-content;
  height: max-content;
  border-radius: 5%;
	overflow: hidden;
	position: relative;
  margin: 4px;
}

.title {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #292F36;
  margin-bottom: 4px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-content {
  width: 70%;
  padding-right: 10px;
}

.logo {
  height: 50px;
  width: 50px;
}

.name {
  color: #FFA69E;
  font-weight: 600;
}

.navbar {
  height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.position {
  color: #4f5358;
}

.sub-navbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.subheading {
  font-weight: 600;
  color: #4f5358;
  margin-bottom: 4px;
}

a {
  text-decoration: none;
  color: #18272F;
  font-weight: 600;
  position: relative;
  /* font-size: 18px; */
}

a::before {
  content: '';
  background-color: #FFA69E;
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 30%;
  z-index: -1;
  transition: all .3s ease-in-out;
}

a:hover::before {
  bottom: 0;
  height: 100%;
}

img {
  height: auto;
  width: auto;
  /* border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}
