@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

 /* medium slate blue: 7371FC */

html {
  background-color: #EAF6FF;
  z-index: -2;
  padding: 50px 100px 50px 100px;
}

body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #292F36;
}

.btn{
  padding: 10px 24px;
  font-size: 14px;
  font-weight: 600;
  color: #292F36;
  cursor: pointer;
  border: 2px solid;
  border-radius: 2px;
  border-color: #FFA69E; 
  background-color: #FFA69E;
}

.btn:hover{
  padding: 10px 24px;
  font-size: 14px;
  font-weight: 600;
  color: #FFA69E;
  cursor: pointer;
  border: 2px solid;
  border-radius: 2px;
  background-color: #EAF6FF;
  border-color: #FFA69E; 
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  height: auto;
  width: max-content;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: max-content;
  height: max-content;
  border-radius: 5%;
	overflow: hidden;
	position: relative;
  margin: 4px;
}

.title {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #292F36;
  margin-bottom: 4px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-content {
  width: 70%;
  padding-right: 10px;
}

.logo {
  height: 50px;
  width: 50px;
}

.small-logo {
  height: 70px;
  width: 70px;
  align-items: center;
  display:inline-block;
}

.name {
  color: #F78075;
  font-weight: 600;
}

.navbar {
  height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pink {
  color: #F78075;
  display:inline-block;
  font-weight: 600;
}

.position {
  color: #4f5358;
  font-weight: 600;
}

.sub-navbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.subheading {
  font-weight: 600;
  color: #4f5358;
  margin-bottom: 4px;
}

a {
  text-decoration: none;
  color: #18272F;
  font-weight: 600;
  position: relative;
  white-space: nowrap;
}

a::before {
  content: '';
  background-color: #FFA69E;
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 25%;
  z-index: -1;
  transition: all .3s ease-in-out;
  white-space: nowrap;
}

a:hover::before {
  bottom: 0;
  height: 100%;
}

img {
  height: 420px;
  width: 420px;
  align-items: center;
  /* border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}

.image1 {
  height: 300px;
  width: auto;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
  position: absolute;
  left: -50px;
  top: -170px;
  z-index: 2;
}

.image2 {
  height: 400px;
  width: auto;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
  position: absolute;
  left: 20px;
  top: 0px;
  z-index: 1;
}
